APP_NAME="Plotter Service"
APP_ENV=production
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=plotter
DB_USERNAME=plotter_user
DB_PASSWORD=

OKDESK_API_TOKEN=
OKDESK_ACCOUNT=insitech
OKDESK_STATUS_CODE=Equipment_transferred_repair_VSP

SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database